<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
    <dict>
        <key>Jobs</key>
        
        <array>
            
            <dict><key>Job Title</key><string>thu mua biết tiếng hoa</string><key>Salary</key><string>15 triệu/tháng </string><key>Job Category</key><string>Phiên dịch/ Ngoại ngữ  Hành chính/ Văn phòng Vật tư/ Thiết bị/ Mua hàng</string><key>Company</key><string>Công Ty Cổ Phần Omexey Home Furnishing</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>10 triệu - 12 triệu</string><key>Job Category</key><string>Thu Mua Biết Tiếng Hoa</string><key>Company</key><string>Công Ty Cổ Phần Omexey Home Furnishing</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>10 triệu - 12 triệu</string><key>Job Category</key><string>Thiết Kế Nội Thất Ngành Gỗ</string><key>Company</key><string>Công Ty Cổ Phần Omexey Home Furnishing</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>7 triệu - 10 triệu</string><key>Job Category</key><string>Nhân Viên Tổng Đài</string><key>Company</key><string>Công Ty Cổ Phần Omexey Home Furnishing</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>7 triệu - 10 triệu</string><key>Job Category</key><string>Thợ Điện, Thợ Hàn</string><key>Company</key><string>Công Ty Cổ Phần Omexey Home Furnishing</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>5 triệu - 7 triệu</string><key>Job Category</key><string>Nhân Viên Kho</string><key>Company</key><string>Công Ty Cổ Phần Omexey Home Furnishing</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>7 triệu - 10 triệu</string><key>Job Category</key><string>Nhân Viên Seo - Marketing Online</string><key>Company</key><string>Công Ty TNHH MTV Đông Phú Tiên</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>7 triệu - 10 triệu</string><key>Job Category</key><string>Nhân Viên Quản Lý Dự Án</string><key>Company</key><string>Công Ty TNHH MTV Đông Phú Tiên</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>7 triệu - 10 triệu</string><key>Job Category</key><string>Kế Toán</string><key>Company</key><string>Công Ty TNHH MTV Đông Phú Tiên</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>Thương lượng</string><key>Job Category</key><string>Nhân Viên Marketing Online</string><key>Company</key><string>Công Ty TNHH MTV Đông Phú Tiên</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>5 triệu - 7 triệu</string><key>Job Category</key><string>Nhân Viên Quản Lý Dự Án</string><key>Company</key><string>Công Ty TNHH MTV Đông Phú Tiên</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>Thương lượng</string><key>Job Category</key><string>Nhân Viên Kinh Doanh</string><key>Company</key><string>Công Ty Cổ Phần Việt Nhân Bắc Ninh</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>Thương lượng</string><key>Job Category</key><string>Nhân Viên Telesale</string><key>Company</key><string>Công Ty Cổ Phần Việt Nhân Bắc Ninh</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>Thương lượng</string><key>Job Category</key><string>Kế Toán</string><key>Company</key><string>Công Ty Cổ Phần Việt Nhân Bắc Ninh</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>Thương lượng</string><key>Job Category</key><string>Trưởng Phòng Kinh Doanh</string><key>Company</key><string>Công Ty Cổ Phần Việt Nhân Bắc Ninh</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>Thương lượng</string><key>Job Category</key><string>Nhân Viên Chăm Sóc Khách Hàng</string><key>Company</key><string>Công Ty Cổ Phần Việt Nhân Bắc Ninh</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>10 triệu - 12 triệu</string><key>Job Category</key><string>Tài Xế Xe Kamaz Lương Cao Tại Đồng Nai</string><key>Company</key><string>Donacoop</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>Thương lượng</string><key>Job Category</key><string>Thợ Máy Xe Ben Tại Đồng Nai</string><key>Company</key><string>Donacoop</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>5 triệu - 7 triệu</string><key>Job Category</key><string>Nhân Viên Bảo Vệ</string><key>Company</key><string>Donacoop</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>10 triệu - 12 triệu</string><key>Job Category</key><string>Lái Xe Ben Tại Đồng Nai Lương Cao</string><key>Company</key><string>Donacoop</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>Thương lượng</string><key>Job Category</key><string>Nhân Viên Lưu Trữ Văn Thư</string><key>Company</key><string>Donacoop</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>5 triệu - 7 triệu</string><key>Job Category</key><string>Nhân Viên Thiết Kế Kết Cấu Gỗ - Kết Cấu Thép Công Trình Nhật Bản</string><key>Company</key><string>Công Ty Cổ Phần Tama Sơn Thanh Việt Nam</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>5 triệu - 7 triệu</string><key>Job Category</key><string>Nhân Viên Thiết Kế Dự Toán Và Thiết Kế Gia Công Vật Liệu Xây Dựng</string><key>Company</key><string>Công Ty Cổ Phần Tama Sơn Thanh Việt Nam</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>5 triệu - 7 triệu</string><key>Job Category</key><string>Nhân Viên Thiết Kế Kiến Trúc Công Trình Nhật Bản</string><key>Company</key><string>Công Ty Cổ Phần Tama Sơn Thanh Việt Nam</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>5 triệu - 7 triệu</string><key>Job Category</key><string>Nhân Viên Hành Chính - Lễ Tân</string><key>Company</key><string>Công Ty Cổ Phần Đầu Tư Viethome</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>Thương lượng</string><key>Job Category</key><string>Nhân Viên Kế Toán Công Nợ ( Làm Việc: Bình Dương)</string><key>Company</key><string>Công Ty Cổ Phần Đầu Tư Viethome</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>12 triệu - 15 triệu</string><key>Job Category</key><string>Giám Đốc Sàn Kinh Doanh Bất Động Sản</string><key>Company</key><string>Công Ty Cổ Phần Đầu Tư Viethome</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>15 triệu - 20 triệu</string><key>Job Category</key><string>[Hcm] Nhân Viên Kinh Doanh Bất Động Sản - Đi Làm Ngay</string><key>Company</key><string>Công Ty Cổ Phần Đầu Tư Viethome</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>5 triệu - 7 triệu</string><key>Job Category</key><string>Nhân Viên Chăm Sóc Khách Hàng</string><key>Company</key><string>Công Ty Cổ Phần Đầu Tư Viethome</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>5 triệu - 7 triệu</string><key>Job Category</key><string>Nhân Viên Kinh Doanh Thẻ Tập Gym</string><key>Company</key><string>Công Ty Cổ Phần Tdtt Getfit</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>15 triệu - 20 triệu</string><key>Job Category</key><string>Huấn Luyện Viên Cá Nhân</string><key>Company</key><string>Công Ty Cổ Phần Tdtt Getfit</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>5 triệu - 7 triệu</string><key>Job Category</key><string>Nhân Viên Chăm Sóc Khách Hàng</string><key>Company</key><string>Công Ty Cổ Phần Tdtt Getfit</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>Thương lượng</string><key>Job Category</key><string>Nhân Viên Marketing</string><key>Company</key><string>Công Ty Cổ Phần Tdtt Getfit</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>10 triệu - 12 triệu</string><key>Job Category</key><string>Nhân Viên Kinh Doanh Thẻ Tap Gym</string><key>Company</key><string>Công Ty Cổ Phần Tdtt Getfit</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>10 triệu - 12 triệu</string><key>Job Category</key><string>Trợ Lý Tiếng Trung Lĩnh Vực Y Dược</string><key>Company</key><string>Công Ty TNHH Truyền Thông, Dữ Liệu Sáng Tạo Việt</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>10 triệu - 12 triệu</string><key>Job Category</key><string>Nhân Viên Quảng Cáo Google Adword Lương 10 - 15</string><key>Company</key><string>Công Ty TNHH Truyền Thông, Dữ Liệu Sáng Tạo Việt</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>10 triệu - 12 triệu</string><key>Job Category</key><string>Nhân Viên: Marketing Online-Facebook; Seo Wedsite; Quảng Cáo Adword</string><key>Company</key><string>Công Ty TNHH Truyền Thông, Dữ Liệu Sáng Tạo Việt</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>Thương lượng</string><key>Job Category</key><string>Nhân Viên Lễ Tân</string><key>Company</key><string>Công Ty TNHH Truyền Thông, Dữ Liệu Sáng Tạo Việt</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>10 triệu - 12 triệu</string><key>Job Category</key><string>Nhân Viên Quảng Cáo Facebook</string><key>Company</key><string>Công Ty TNHH Truyền Thông, Dữ Liệu Sáng Tạo Việt</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>Thương lượng</string><key>Job Category</key><string>Chuyền Trưởng Áo Sơ Mi</string><key>Company</key><string>Công Ty TNHH SX-Tm May Mặc Ngọc Phương</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>Thương lượng</string><key>Job Category</key><string>Kỹ Thuật Hàng Sơ Mi - Thun</string><key>Company</key><string>Công Ty TNHH SX-Tm May Mặc Ngọc Phương</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>Thương lượng</string><key>Job Category</key><string>Kỹ Thuật Hàng Jean</string><key>Company</key><string>Công Ty TNHH SX-Tm May Mặc Ngọc Phương</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>Thương lượng</string><key>Job Category</key><string>Kỹ Thuật Hàng Jean</string><key>Company</key><string>Công Ty TNHH SX-Tm May Mặc Ngọc Phương</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>Thương lượng</string><key>Job Category</key><string>Chuyền Trưởng Quần Jean</string><key>Company</key><string>Công Ty TNHH SX-Tm May Mặc Ngọc Phương</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>7 triệu - 10 triệu</string><key>Job Category</key><string>Nhân Viên Phay / Tiện CNC</string><key>Company</key><string>Công Ty TNHH Sản Xuất - Thương Mại - Dịch Vụ Lê</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>5 triệu - 7 triệu</string><key>Job Category</key><string>Kỹ Sư Cơ Khí Chế Tạo</string><key>Company</key><string>Công Ty TNHH Sản Xuất - Thương Mại - Dịch Vụ Lê</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>5 triệu - 7 triệu</string><key>Job Category</key><string>Nhân Viên Phụ Bếp</string><key>Company</key><string>Công Ty TNHH Sản Xuất - Thương Mại - Dịch Vụ Lê</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string> 7 triệu - 10 triệu</string><key>Job Category</key><string>Nhân Viên Phay / Tiện CNC</string><key>Company</key><string>Công Ty TNHH Sản Xuất - Thương Mại - Dịch Vụ Lê</string><key>Employment Type Dispatch</key><string></string></dict>
            <dict><key>Job Title</key><string></string><key>Salary</key><string>Thương lượng</string><key>Job Category</key><string>Nhân Viên Chế Tạo Máy</string><key>Company</key><string>Công Ty TNHH Sản Xuất - Thương Mại - Dịch Vụ Lê</string><key>Employment Type Dispatch</key><string></string></dict>
            
        </array>
    </dict>
</plist>
